# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/

# production
/build

# misc
.DS_Store
*.pem

# local env files
.env*.local
.env*
*.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
/.vscode

# application
logs/
*.log